*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
    width: 100%;
}

.container{
    width: 70%;
    height: 76vh;
    margin: 0 auto;
}

nav{
    padding-top: 30px;
}

nav #logo-header, nav #button-header{
    width: 25%;
    float: left;
}

nav #nav-bar{
    width: calc(50% - 60px);
    margin: 10px 30px;
    float: left;
    text-align: right;
}

nav ul li{
    display: inline-block;
    font-weight: bold;
}

nav ul li a{
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav #button-header a#sign-in{
    padding: 10px 15px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

header #jumbotron-text{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

header #jumbotron-text h1{
    font-size: 55px;
    margin-bottom: 50px;
}

header #jumbotron-text p, header #jumbotron-text a{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
}

header #jumbotron-text a#black, header #jumbotron-text a#white{
    padding: 10px 15px ;
    border-radius: 25px;
}

header #jumbotron-text a#black{
    background-color: #23272a;
    margin-left: 50px;
}

header #jumbotron-text a#white{
    background-color: white;
    color: black;
}

.img-column, .img-column-inv{
    width: 73%;
}

.img-column{
    float: left;
}

.img-column-inv, .img-column-inv img{
    float: right;
}

.text-column, .text-column-inv {
    width: 27%;
    display: inline-block;
    padding-top: 20px;
}

h2{
    font-size: 48px;
    color: #23272a;
    margin-bottom: 50px;
}

.text-column p, .text-column-inv p, section#last-section p{
    font-size: 21px;
    line-height: 30px;
}

.bg-gray{
    background-color: #f6f6f6;
    width: 100%;
}

.wrapper{
    padding: 109px 0;
}

section#last-section div#text-last-section{
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
}

section#last-section div#img-big{
    text-align: center;
}

section#last-section div#img-big img{
    width: 65%;
    margin-bottom: 25px;
}

section#last-section div#download{
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

section#last-section div#download h6{
    font-size: 30px;
    margin-bottom: 45px;
}

section#last-section div#download a, footer a{
    background-color: #8ea1e1;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
}

.fa-long-arrow-alt-down{
    margin-right: 10px;
}

footer{
    background-color: #23272a;
}

.float-left{
    float: left;

}

.float-right{
    float: right;
}

#col-left{
    width: 30%;
    margin-right: 25px;
}

.col-right{
    width: 15%;
    margin: 10px 25px 0 0;
}

footer div#info-footer{
    height: 60%;
}

footer h6, footer h4{
    font-size:16px ;
    margin-bottom: 7px;
    color: #7289da;
    padding-top: 60px;
}

footer ul li{
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: white;
}

footer h4{
    font-size: 33px;
    width: 75%;
    margin-bottom: 25px;
}

footer hr{
    margin-bottom: 50px;
    border-color: #7289da;
}

footer div#col-left img{
    width: 5%;
}

footer div#col-left div#social, footer div#col-left span,
footer div#col-left i {
    color: white;
}

footer div#col-left span{
    margin-right: 10px;
}

footer div#col-left div#social i{
    margin:15px 15px 0 0;
}